*{
	font-family: 'NanumSquareNeo-Variable';
}

.resultMsg{
	text-align: center; /* 가운데 정렬을 위한 스타일 추가 */
	font-size: 25px;
	margin-bottom: 10px;
}

.resultMsg1{
	text-align: center; /* 가운데 정렬을 위한 스타일 추가 */
	font-size: 25px;
	margin-bottom: 30px;
}


.resultMsg2{
	text-align: center; /* 가운데 정렬을 위한 스타일 추가 */
	font-size: 25px;
	margin-bottom: 50px;
}

.donateGoodFormBorder{
    border: 4px solid #ABe138;
    width: 230px;
    margin-left: 650px;
    margin-bottom: 100px;
}


.resultSpan{
	font-size: 30px;
	color: red;
}

.resultImg{
	width: 50px;
	margin-right: 20px;
}

.resultBox{
	display: flex;
    border: 1px solid #FACC2E;
    text-align: center;
    width: 700px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color : #FACC2E;
    border-radius : 10px;
    margin: 0 auto;
}

.btnStyle{
	text-align: center;
	margin-top : 100px;
}

.resultBtn{
	width: 200px;
	height: 45px;
	border-radius: 10px;
	background-color: aliceblue;
	border: 1px solid rgb(193, 189, 222);
	transition: background-color 0.5s ease, border-color 0.5s ease; /* 색상 변화를 느리게 설정 */
	font-weight: bold;
}

.resultBtn:hover{
	background-color: #ABe138;
}