<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="chatMapper">

<!-- 채팅방 목록 -->
<select id="selectChatRoomList" resultType="chat">
		SELECT
		    CHAT_NO,
		    CHAT_TITLE,
		    USER_NAME,
		    USER_NO,
		    (SELECT COUNT(*) FROM CHAT_JOIN CRJ WHERE CRJ.CHAT_NO = CR.CHAT_NO) AS CNT
		FROM CHAT CR
		JOIN USERS USING(USER_NO)
		WHERE CR.STATUS = 'Y'
		ORDER BY CHAT_NO DESC
	</select>
	
	<select id="selectJoinList" resultType="chatJoin">
		SELECT *
	    FROM CHAT_JOIN
	</select>

	<!-- 웹소켓에서 보낸 insert 메세지 -->
	<insert id="insertMessage" parameterType="chatMessage">
		INSERT INTO CHAT_MESSAGE
		VALUES (
			SEQ_CMNO.NEXTVAL ,
			#{message},
			SYSDATE,
			#{chatNo},
			#{userNo}
		)
	</insert>
	
	<!-- 채팅방 생성 -->
	<insert id="openChatRoom" parameterType="chat" useGeneratedKeys="true">
	
		INSERT INTO CHAT VALUES
		(SEQ_CHATNO.NEXTVAL, #{chatTitle} , 'Y' , #{userNo})
		
		<selectKey keyProperty="chatNo" resultType="int" order="AFTER">
			SELECT SEQ_CHATNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 채팅방 참여여부 확인 -->
	<select id="joinCheck" parameterType="chatJoin" resultType="int">
		SELECT
			COUNT(*)
		FROM CHAT_JOIN
		WHERE CHAT_NO = #{chatNo} 
			AND USER_NO = #{userNo}
			AND STATUS = 'Y'
	</select>
	
	<!-- 채팅방 참여하기 -->
	<insert id="joinChatRoom" parameterType="chatJoin">
		INSERT INTO CHAT_JOIN
		VALUES(#{userNo}, #{chatNo}, 'Y')
	</insert>
	
	<!-- 채팅방 메세지 조회 -->
	<select id="selectChatMessage" parameterType="int" resultType="chatMessage">
	    SELECT
	        CM.MESSAGE,
	        TO_CHAR(CM.CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE,
	        U.USER_NAME,
	        U.USER_NO,
	        CM.CM_NO,
	        CH.CHAT_TITLE
	    FROM CHAT_MESSAGE CM
	    JOIN USERS U ON CM.USER_NO = U.USER_NO
	    JOIN CHAT CH ON CM.CHAT_NO = CH.CHAT_NO
	    WHERE CM.CHAT_NO = #{chatNo}
	    ORDER BY CM.CM_NO
	</select>
	
	<!-- CHAT은 관리자가 삭제해줘야함.  -->
	
	<update id="deleteUserChat" parameterType="chat">
		UPDATE CHAT
		SET STATUS = 'N'
		WHERE USER_NO = #{userNo}
		 AND CHAT_NO = #{chatNo}
		 
	</update>
	
	<update id="joinDeleteChat" parameterType="chatJoin">
		UPDATE CHAT_JOIN
		SET STATUS = 'N'
		WHERE USER_NO = #{userNo}
		 AND CHAT_NO = #{chatNo}
	</update>
	
	




</mapper>