<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="program">

	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM PROGRAM P
		LEFT JOIN USERS USING (USER_NO)
		WHERE
		P.STATUS='Y'
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition.equals('title')">
					PROGRAM_NAME LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>
			</choose>
		</if>
		<if test="active_location != null and active_location!=''">
			AND SUBSTR(ACTIVITY_LOCATION, 1,1) = #{active_location}
		</if>
		<if test="active_time !='' and active_time !=null">
			AND ACTIVITY_TIME = #{active_time}
		</if>
		<if test="active_days !='' and active_days !=null">
			AND ACTIVITY_DAYS = #{active_days}
		</if>
	</select>

	<select id="selectProgramList" parameterType="hashmap"
		resultType="program">
		SELECT PROGRAM_NO, PROGRAM_NAME, 
		TO_CHAR(PROGRAM_ACTIVITY_START_DATE, 'YYYY"년" MM"월" DD"일"')
		PROGRAM_ACTIVITY_START_DATE,
		TO_CHAR(PROGRAM_ACTIVITY_END_DATE,
		'YYYY"년" MM"월" DD"일"') PROGRAM_ACTIVITY_END_DATE,
		ACTIVITY_DAYS,
		ACTIVITY_TIME, SUBSTR(ACTIVITY_LOCATION,3) AS ACTIVITY_LOCATION,
		PROGRAM_ENROLL_END_DATE
		
		 FROM PROGRAM P
	
		WHERE STATUS = 'Y'
		<if test="keyword!=null and keyword != ''">
			<choose>
				<when test="condition.equals('title')">
					AND PROGRAM_NAME LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					AND USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>
			</choose>
		</if>
		<if test="active_location != null and active_location!=''">
			AND SUBSTR(ACTIVITY_LOCATION, 1,1) = #{active_location}
		</if>
		<if test="active_time !='' and active_time !=null">
			AND ACTIVITY_TIME = #{active_time}
		</if>
		<if test="active_days !='' and active_days !=null">
			AND ACTIVITY_DAYS = #{active_days}
		</if>
		order by 1 desc
	</select>

	<insert id="insertProgram" >
		INSERT INTO PROGRAM
		(PROGRAM_NO, USER_NO, PROGRAM_NAME, PROGRAM_ACTIVITY_START_DATE,
		PROGRAM_ACTIVITY_END_DATE,
		ACTIVITY_TIME, ACTIVITY_DAYS,
		ACTIVITY_LOCATION,
		PROGRAM_CAPACITY,
		PROGRAM_ENROLL_END_DATE,
		PROGRAM_CONTENT,
		STATUS)
		VALUES
		(SEQ_PROGRAMNO.NEXTVAL, #{userNo},
		#{programName}, #{programActivityStartDate},
		#{programActivityEndDate},
		#{activityTime},
		#{activityDays}, #{activityLocation},
		#{programCapacity},
		#{programEnrollEndDate}, #{programContent}, 'Y' )
	</insert>

	<select id="detailProgram" resultType="program">
		SELECT PROGRAM_NO, 
		USER_NO, 
		PROGRAM_NAME,
		PROGRAM_ACTIVITY_START_DATE,
		PROGRAM_ACTIVITY_END_DATE,
		PROGRAM_ENROLL_END_DATE,
		TO_CHAR(PROGRAM_ACTIVITY_START_DATE, 'YYYY"년" MM"월" DD"일"') AS sdate,
		TO_CHAR(PROGRAM_ACTIVITY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS edate,
		ACTIVITY_TIME,
		ACTIVITY_DAYS,
		SUBSTR(ACTIVITY_LOCATION,3) AS ACTIVITY_LOCATION,
		PROGRAM_CAPACITY,
		TO_CHAR(PROGRAM_ENROLL_END_DATE, 'YYYY"년" MM"월" DD"일"') AS enroll,
		PROGRAM_CONTENT,
		CASE 
            WHEN TO_CHAR(PROGRAM_ACTIVITY_END_DATE, 'DD') = TO_CHAR(SYSDATE, 'DD')  THEN '모집중'
	        WHEN PROGRAM_ENROLL_END_DATE <![CDATA[>]]> SYSDATE THEN '모집중'
	        ELSE '마감'
	    END AS RESULT
		FROM PROGRAM
		WHERE PROGRAM_NO = #{programNo}
	</select>

	<insert id="requestProgram" parameterType="request">
		INSERT INTO REQUEST
		(REQUEST_NO, REQUEST_DATE, STATUS, USER_NO, PROGRAM_NO)
		VALUES (
		SEQ_REQNO.nextval, SYSDATE, DEFAULT, #{userNo}, #{programNo}
		)
	</insert>

	<select id="isLikeExists" resultType="int">
		SELECT COUNT(*)
		FROM LIKES
		WHERE PROGRAM_NO = #{programNo}
		AND USER_NO = #{userNo}
	</select>
	<insert id="programLike" parameterType="likes">
		INSERT INTO LIKES VALUES
		(#{programNo}, #{userNo})
	</insert>
	<delete id="programUnlike" parameterType="int">
		DELETE FROM LIKES WHERE PROGRAM_NO = #{programNo} AND USER_NO = #{userNo}
	</delete>

	<select id="requestCount" resultType="int">
		select count(*) from
		request where program_no = #{programNo}
	</select>

	<select id="filterList" resultType="program">
		select PROGRAM_NO, PROGRAM_NAME, TO_CHAR(PROGRAM_ACTIVITY_START_DATE, 'YYYY"년" MM"월" DD"일"') AS PROGRAM_ACTIVITY_START_DATE,
				TO_CHAR(PROGRAM_ACTIVITY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS PROGRAM_ACTIVITY_END_DATE,
				ACTIVITY_DAYS, ACTIVITY_TIME, SUBSTR(ACTIVITY_LOCATION,3) AS ACTIVITY_LOCATION, PROGRAM_ENROLL_END_DATE FROM PROGRAM
where PROGRAM_ACTIVITY_END_DATE>sysdate
order by 1 desc
	</select>
	
	<select id="requestSelectProgram" resultType="request">
		SELECT * FROM REQUEST WHERE USER_NO = #{userNo} AND PROGRAM_NO = #{programNo}
	</select>
	
	<select id="isRequestExists" resultType="int">
		SELECT COUNT(*) FROM REQUEST
		WHERE PROGRAM_NO = #{programNo}
		AND USER_NO = #{userNo}
	</select>
	<update id="updateProgram" parameterType="program">
	update program set program_name = #{programName},
	program_activity_start_date = #{programActivityStartDate},
	program_activity_end_date = #{programActivityEndDate},
	activity_time = #{activityTime},
	program_enroll_end_date = #{programEnrollEndDate},
	activity_days = #{activityDays},
	program_capacity = #{programCapacity},
	activity_location = #{activityLocation},
	program_content = #{programContent}
	where program_no = #{programNo}
	</update>
	
	<delete id="deleteProgram" parameterType="int">
		DELETE FROM PROGRAM
		WHERE PROGRAM_NO = #{programNo}
	</delete>
	
	
	<!-- 채팅방 생성 -->

	<insert id="insertChat" parameterType="chat" useGeneratedKeys="true">
   
    	INSERT INTO CHAT (CHAT_NO,CHAT_TITLE,USER_NO,PROGRAM_NO) 
		VALUES
		(SEQ_CHATNO.NEXTVAL, #{chatTitle} , #{userNo}, #{programNo} )
    
  		<selectKey keyProperty="programNo" resultType="int" order="AFTER">
				SELECT SEQ_PROGRAMNO.CURRVAL FROM DUAL
		</selectKey>
	</insert> 
	
	<select id="selectchatProgram" resultType="int">
	 	SELECT PROGRAM_NO
	 	FROM PROGRAM
	 		WHERE USER_NO = #{userNo} AND
	 		PROGRAM_NAME = #{programName}
	 		AND PROGRAM_ACTIVITY_START_DATE = #{programActivityStartDate}
	</select> 
	
	<select id="selectChatRoomNo" resultType="int">
		SELECT CHAT_NO
		FROM CHAT
			WHERE PROGRAM_NO = #{programNo}
	</select>
</mapper>