@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 1000px;
  height: 800px;
  overflow: hidden;
  margin:0 auto;
}

.signupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

form input {
  background-color: white;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  border: 1px solid #eee;
  font-size:13px;
  width: 400px;
}

#input_email{
	border-radius: 10px 10px 0 0;
}
#input_email:focus{
	border-radius: 10px 10px 0 0;
}
#input_password{
	border-radius: 0 0 10px 10px;
}
#input_password:focus{
	border-radius: 0 0 10px 10px;
}

button {
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 130px;
  margin: 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 400px;
}

.form_btn_check{
	width:100px;
}

.form_btn:active {
  background-color: #84a90c;
}

.overlay_btn {
  background-color: #b5b971;
  color: #fff;
}

.find-links {
  margin-top: 20px;
}

.find-links a {
  color: #84a90c;
  text-decoration: none;
  margin-right: 10px;
}

.find-links a:hover {
  text-decoration: underline;
}

.social-links div {
  display: inline-block;
  margin-right: 10px;
}

.social-links div:last-child {
  margin-right: 0;
}

.social-links img {
  width: 40px;
  height: 40px;
}

.social-links {
  margin: 20px auto;
  text-align: center;
}

form h1 {
  font-weight: bold;
  margin: 20px 0;
  color: #000;
  text-align: center;
}

h1.login {
  text-align: center;
  color: #949494;
}

.input-group {
    display: flex;
    align-items: center;
    width: 380px;
}

.input-group input {
  padding: 13px;
  border:1px solid #eee;
  margin : 10px 0;
}

.input-group button {
  padding: 15px;
  margin-left:5px;
  font-size:10px;
}

input:focus {
  border: 1px solid #84a90c;
}

.inputbox{
	width:370px;
	padding: 15px;
}