@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.table-div{
	
	margin-top: 50px;
	margin-bottom: 50px;
	
}

/* 여기에 CSS 스타일을 추가할 수 있습니다. */
table {
	width: 900px;
	border-collapse: collapse;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 15px;
	text-align: left;
}

.header {
	background-color: #F2F2F2;
	text-align: center;
}