.list-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #83a80ba3;
    color: #fff;
    border: none; /* 테두리 없애기 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
    transition: background-color 0.3s; /* 배경색 변경에 대한 전환 효과 설정 */
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px; /* 버튼들 사이의 간격을 조정합니다. */
    cursor: pointer;
}

.list-btn:hover{
    background-color: #6b8a0c;
    
}




.donateGoodFormBorder{
    border: 4px solid #ABE138;
    width: 170px;
    margin-left: 650px;
    margin-bottom: 100px;
}


.donateList-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f14152;
    color: #fff;
    border: none; /* 테두리 없애기 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
    transition: background-color 0.3s; /* 배경색 변경에 대한 전환 효과 설정 */
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px; /* 버튼들 사이의 간격을 조정합니다. */
    cursor: pointer;
}


.donateList-btn:hover{
    background-color: #c82333;
}

.boardTitle{
  height:330px;
  padding-top: 100px;
  background-image: url('https://www.lifein.news/news/photo/202303/15299_21211_841.jpg');
/*   background-size: cover; */
  background-position: center;
  margin-bottom: 50px;
}

/* 제목 정렬 */
.boardTitle h1,
.boardTitle > p{
    text-align: center;
    align-items: center;
}

/* 제목 글씨크기 */
.boardTitle h1{
    font-size: 35px;
    color: black;
}

.boardTitle > p{
    font-size : 17px;
    color: black;
}


.donateListSection{
	margin-top: 70px;
}

/* 후원종료 리스트 */
.donateList{
	display: flex;
	border : 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
	margin-bottom: 20px;
	cursor: pointer;
}

/* 사진 */
.donateImg img{
	width: 250px;
	height: 200px;
	border-radius : 10px;
	margin-right: 100px;
	margin-left: 50px;
}

/* 후원 종료 내용 */
.donateContent{
	flex-direction: column;
	display: flex;
	padding: 20px;
	width: 550px;
	margin-right: 50px;
}

/* 후원 보고서 제목 */
.donateContent span:nth-of-type(1){
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	max-height: 60px;
	height: 40px;
    margin-bottom: 10px;
}

.donateContent span:nth-of-type(2){
	font-size: 12px;
	width: 100%;
	margin: 5px 0px 10px 0px;	
}

/* 프로세스바 */
#progress {
    margin-bottom: 10px;
    appearance: none;
}

#progress::-webkit-progress-bar {
    background: #dfdede;
    border-radius: 5px;
    border: 1px solid #000000;
    height: 10px;
    width: 450px;
    overflow: hidden;
    border:1px solid white;
}

#progress::-webkit-progress-value {
    background: #fd4747;
    border-radius: 0px;
    height: 10px;
    width: 48px;
}

/* 현재 후원금액, 달성률 */
.progress_value{   
	margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}


.progress_value span:nth-of-type(1){
    font-weight: bold;
    font-size: 15px;
}


/* 달성률 */
.progress_value span:nth-of-type(2){
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    text-align: right;
    
}

.progress_rate{
	display: flex;
    justify-content: space-between;
	margin-top: auto;
	height: 20px;
}

.progress_rate span:nth-of-type(1){
	font-size: 15px;
	color: #ff3b3b;
}

.progress_rate span:nth-of-type(2){
	font-size: 15px;
	width: 200px;
	text-align: right;
	font-weight: bold;
}
