body {
	font-family: 'NanumSquareNeo-Variable';
	margin: 0 auto;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

.modify-area{
	margin:0 auto;
	text-align:center;
	width:640px;
}

.modify-p{
	text-align:left;
}

.valid{
	color:grey;
	font-size:small;
	float:right;
}

.form-group {
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

#openAddressPopup {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 50px;
}

#openAddressPopup:hover {
	background-color: #45a049;
}

.y_donate_info {
	margin: 100px auto;
	width: 800px;
	padding: 20px;
	text-align: center;
	border-top: 7px solid #84A90C;
	border-bottom: 7px solid #84A90C;
}

.y_donate_info span {
	width: 200px;
	padding: 20px;
}

.form-group1 {
	padding: 20px;
}

.edit {
	border: 1px solid #eee;
	width: 600px;
	border-radius: 5px;
	height: 50px;
	margin-bottom:20px;
}
.edit:focus {
	outline:none;
	border : 1px solid #84A90C;
}
