* {
	font-family: 'NanumSquareNeo-Variable';
}

.d-div-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0px 0px;
	position: relative;
	background-color: #ffffff;
	justify-content: center; /* 추가된 부분 */
	width: 100%; /* 너비를 100%로 설정하여 부모 컨테이너에 맞춤 */
	max-width: 1440px; /* 최대 너비 설정 */
	margin: 0 auto; /* 중앙 정렬을 위한 마진 설정 */
}

/* .d-div-wrapper .top-bar { */
/* 	display: flex; */
/* 	width: 1440px; */
/* 	height: 80px; */
/* 	align-items: center; */
/* 	justify-content: center; */
/* 	gap: 20px; */
/* 	padding: 20px; */
/* 	position: absolute; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: #ffffff; */
/* } */
.d-div-wrapper .title {
	flex: 1;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	position: relative;
	color: #000000;
	letter-spacing: 0;
}

.d-div-wrapper .section {
	justify-content: center;
	gap: 40px;
	flex: 0 0 auto;
	display: flex;
	padding: 30px;
	position: relative;
	align-self: stretch;
	width: 100%;
	overflow: hidden;
}

.grid-container{
	   display: grid;
        grid-template-columns: repeat(2, 1fr); /* 두 개의 컬럼으로 나누어 정렬 */
        width : 100%;
}

.d-div-wrapper .avatar {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #d8d8d880; /* 배경 색상 */
	border-radius: 50px; /* 원형 모양 */
	background-image: url('profile.png'); /* 이미지 경로 지정 */
	background-size: cover; /* 이미지 크기에 맞게 조정 */
	background-position: center; /* 이미지를 가운데 정렬 */
}

.d-div-wrapper .container {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 12px;
	position: relative;
	flex: 1;
	flex-grow: 1;
	padding: 30px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-content:hover{
	color:#84a90c;
}

.list-container {
    overflow-y: auto;
    max-height: 600px;
}

/* 수직 스크롤바 */
::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바의 색상 */
    border-radius: 5px; /* 스크롤바의 모서리 반경 */
}

.donate-amount {
	display: flex;
	flex-direction: column;
}

.donate-amount p {
	margin: 0;
}

#shadow-area {
	box-shadow: 0 10px 30px 0 #0000001a;
	border-radius: 20px;
}

.container-donate {
	text-align: left;
}

.d-div-wrapper .text-wrapper {
	align-self: stretch;
	margin-top: -1px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	position: relative;
	color: #000000;
	letter-spacing: 0;
}

.total {
	margin: 0;
}

.d-div-wrapper .edit-profile {
	padding: 8px;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: -20px;
	cursor: pointer;
	width: 100px;
}

.d-div-wrapper .edit-profile:hover {
	color: white;
	background-color: #7fa924;
}

.navigation-wrapper {
	border: 1px solid black;
	border-left: none;
	border-right: none;
	padding: 15px;
	display: inline-block;
	width: 1200px;
}

.navigation {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.tab {
	padding: 12px 20px;
	font-size: 30px;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s ease;
}

.tab:hover {
	color: #7fa924;
}

.divider {
	font-size: 50px;
	padding-bottom: 10px;
	color: #666;
}

.d-div-wrapper .div-donationp-content, .d-div-wrapper .div-donationm-content,
	.d-div-wrapper .div-volunteer-content, .d-div-wrapper .div-bookmark-content
	{
	display: flex;
	height: 700px;
	align-items: flex-start;
	gap: 60px;
	padding: 60px 170px;
	position: relative;
	align-self: stretch;
	width: 100%;
	overflow: hidden;
}

.d-div-wrapper .title-2 {
	width: 196px;
	height: 48px;
	margin-top: -1px;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	white-space: nowrap;
	position: relative;
	color: #000000;
	letter-spacing: 0;
}

.d-div-wrapper .list {
	display: flex;
	flex-direction: column;
	width: 917px;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	padding: 20px 0px;
	position: relative;
	margin-bottom: -31px;
	margin-right: -73px;
	overflow-y: auto;
	max-height: 540px;
}

.d-div-wrapper .row {
	display: flex;
	align-items: center;
	gap: 40px;
	position: relative;
	align-self: stretch;
	flex: 0 0 auto;
	margin-top : 20px;
	margin-right:5px;
}

.disabled {
    opacity: 0.5; /* 비활성화된 요소의 투명도를 조절하여 시각적으로 구분 */
    pointer-events: none; /* 비활성화된 요소에 대한 마우스 이벤트를 비활성화 */
}


.d-div-wrapper .article {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 16px;
	padding: 16px;
	position: relative;
	flex: 1;
	flex-grow: 1;
	border-radius: 3px;
	border: 1px solid;
	border-color: #0000001a;
}

.d-div-wrapper .image-container {
	display: flex;
	width: 100px;
	height: 100px;
	align-items: flex-start;
	position: relative;
}

.d-div-wrapper .frame {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #0000000d;
	border-radius: 50px;
}

.d-div-wrapper .icon {
	position: absolute;
	width: 100px;
	height: 100px;
	top: -1px;
	left: 0;
	font-weight: 400;
	color: #000000;
	font-size: 62.5px;
	text-align: center;
	letter-spacing: 0;
	line-height: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.d-div-wrapper .frame-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	position: relative;
	flex: 1;
	flex-grow: 1;
}

.d-div-wrapper .title-3 {
	position: relative;
	align-self: stretch;
	margin-top: -1px;
	font-weight: 500;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 28px;
}

.d-div-wrapper .subtitle {
	position: relative;
	align-self: stretch;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	margin: 0;
}

.subtitle-btn{
	float:right;
	background-color:#abc128;
	border-radius : 5px;
	border : none;
	padding : 5px;
	color:white;
	cursor:pointer;
}
.subtitle-btn:hover{
	background-color:#7fa924;
}

.d-div-wrapper .component {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 50px 0px;
	position: relative;
	flex: 0 0 auto;
}

.d-div-wrapper .num {
	position: absolute;
	width: 24px;
	top: 5px;
	left: 4px;
	font-weight: 700;
	color: #000000;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.d-div-wrapper .page {
	width: 32px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid;
	border-color: #dfe3e8;
	position: relative;
	height: 32px;
}

.d-div-wrapper .page:hover {
	background-color: #30B222A1;
}

/* 하트 버튼 */
.d-div-wrapper .heartBtn {
	background-color: white; /* 배경을 흰색으로 설정 */
	border: none; /* 테두리 없애기 */
}

/* 상태*/
.d-div-wrapper .statusBtn {
	background-color: white; /* 배경을 흰색으로 설정 */
	border: none; /* 테두리 없애기 */
}

/* 페이지네이션 */
.pagination {
	border-top: 2px solid #83a80ba3;
	list-style: none;
	margin: 30px 0;
	text-align: center;
	padding-top: 20px; /* 페이지네이션 위쪽 간격 추가 */
	cursor: pointer;
}

.pagination li {
	display: inline-block;
	margin-right: 5px;
}

.pagination li a {
	display: inline-block;
	padding: 8px 12px;
	background-color: #83a80ba3;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
}

/* 페이지네이션 링크에 호버 효과 추가 */
.pagination li a:hover {
	background-color: #6a8a0cd3; /* 호버 상태에서 배경색 변경 */
	transition: background-color 0.3s ease; /* 배경색 변경에 애니메이션 효과 추가 */
}