.d-div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 0px;
    position: relative;
    background-color: #ffffff;
    justify-content: center; /* 추가된 부분 */
    width: 100%; /* 너비를 100%로 설정하여 부모 컨테이너에 맞춤 */
    max-width: 1440px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬을 위한 마진 설정 */
  }
  
  .d-div-wrapper .top-bar {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .d-div-wrapper .rectangle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #0000001a;
    border-radius: 100px;
  }
  
  .d-div-wrapper .title {
    flex: 1;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    color: #000000;
    letter-spacing: 0;
  }
  
  .d-div-wrapper .section {
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex: 0 0 auto;
    display: flex;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }
  
  .d-div-wrapper .avatar {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #d8d8d880; /* 배경 색상 */
    border-radius: 50px; /* 원형 모양 */
    background-image: url('profile.png'); /* 이미지 경로 지정 */
    background-size: cover; /* 이미지 크기에 맞게 조정 */
    background-position: center; /* 이미지를 가운데 정렬 */
}

  
  .d-div-wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .d-div-wrapper .text-wrapper {
    align-self: stretch;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    color: #000000;
    letter-spacing: 0;
  }
  
  .d-div-wrapper .selection {
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  
  .navigation-wrapper {
        border: 1px solid black;
        border-left: none;
        border-right: none;
        padding: 15px;
        display: inline-block;
        width: 1200px;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .tab {
        padding: 12px 20px;
        font-size: 30px;
        color: #333;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .tab:hover {
        color: #7fa924;
    }

    .divider {
    	font-size: 50px;
        padding-bottom: 10px;
        color: #666;
    }

 
  .d-div-wrapper .div-donation-content {
    display: flex;
    height: 605px;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }
  .d-div-wrapper .div-volunteer-content{
    display: flex;
    height: 605px;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }
  
  .d-div-wrapper .div-bookmark-content{
    display: flex;
    height: 605px;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }
  
  .d-div-wrapper .title-2 {
    width: 196px;
    height: 48px;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    white-space: nowrap;
    position: relative;
    color: #000000;
    letter-spacing: 0;
  }
  
  .d-div-wrapper .list {
    display: flex;
    flex-direction: column;
    width: 917px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    position: relative;
    margin-bottom: -31px;
    margin-right: -73px;
  }
  
  .d-div-wrapper .row {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .d-div-wrapper .article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 6px;
    border: 1px solid;
    border-color: #0000001a;
  }
  
  .d-div-wrapper .image-container {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: flex-start;
    position: relative;
  }
  
  .d-div-wrapper .frame {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #0000000d;
    border-radius: 50px;
  }
  
  .d-div-wrapper .icon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -1px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 62.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .d-div-wrapper .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .d-div-wrapper .title-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .d-div-wrapper .subtitle {
    position: relative;
    align-self: stretch;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  
  .d-div-wrapper .component {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 50px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  
  .d-div-wrapper .num {
    position: absolute;
    width: 24px;
    top: 5px;
    left: 4px;
    font-family: "SF Pro Text-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .d-div-wrapper .page {
    width: 32px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #dfe3e8;
    position: relative;
    height: 32px;
  }

  .d-div-wrapper .page:hover {
    background-color: #30B222A1;
  }

  
  
  .d-div-wrapper .title-4 {
    width: 232px;
    height: 48px;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    white-space: nowrap;
    position: relative;
    color: #000000;
    letter-spacing: 0;
  }
  
  .d-div-wrapper .list-2 {
    margin-bottom: -31px;
    display: flex;
    flex-direction: column;
    width: 917px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    position: relative;
    margin-right: -109px;
  }
  
  
  
  .d-div-wrapper .icon-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    color: #000000;
    font-size: 62.5px;
    line-height: 100px;
    -webkit-line-clamp: 1;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .d-div-wrapper .section-2 {
    height: 588px;
    align-items: flex-start;
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }
  
  .d-div-wrapper .list-3 {
    margin-bottom: -48px;
    display: flex;
    flex-direction: column;
    width: 917px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    position: relative;
    margin-right: -109px;
  }
  
  .d-div-wrapper .icon-3 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -1px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    -webkit-line-clamp: 1;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .d-div-wrapper .icon-4 {
    position: relative;
    width: 21px;
    height: 21px;
    margin-top: -1px;
    color: #2a1515;
    font-size: 16px;
    line-height: 24px;
    -webkit-line-clamp: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  

  .d-div-wrapper .heartBtn {
    background-color: white; /* 배경을 흰색으로 설정 */
    border: none; /* 테두리 없애기 */
  }


/* 페이지네이션 스타일 */
.pagination-wrapper {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
  margin: 0 5px;
}

.pagination-item a {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}

.pagination-item a.active {
  background-color: #007bff;
  color: #fff;
}

.pagination-item a:hover {
  background-color: #ddd;
}

  

  