@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}

/* 제목 정렬 */
.h_boardTitle h1,
.h_boardTitle > p{
  text-align: center;
  align-items: center;
  font-size: 35px;
    color: white;
}
.donateGoodFormBorder{
    border: 4px solid #ABE138;
    width: 200px;
    margin-left: 650px;
    margin-bottom: 100px;
}
/* 제목 글씨크기 */
.h_boardTitle h1{
  font-size: 35px;
  color: white;
}
.h_boardTitle > p{
  font-size : 17px;
  color: white;
}


.Sn-form-group {
    margin-bottom: 20px;
}
/* 전체 가로 크기 및 가운데 정렬 */
.Sn-insert-wrapper{
    width: 1000px;
    margin: 0 auto;
}
.Sn-TextLabel {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
}
.Sn-form{
    margin-top: 50px;
}
.Sn-form-group input[type="text"] {
    width: calc(50% - 11px); /* 두 개의 입력 필드를 반씩 차지하도록 수정 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

.Sn-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.Sn-input-user{
    margin-left: 50px;
}
.preview{
	display:none;
	width:350px;
	
}

.delete-image {
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    color: #888; /* x 표시의 색상을 회색으로 지정 */
    font-size: 30px; /* x 표시의 크기를 조정 */
    margin-left: 5px; /* x 표시와 다른 요소 사이의 여백을 추가 */
}

.delete-image:hover {
    color: #f00; /* 마우스를 올렸을 때 x 표시의 색상을 빨간색으로 변경 */
}

.Sn-form-group textarea {
    width: calc(100% - 22px); /* 전체 너비로 설정 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.Sn-form-group input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.Sn-form-group textarea {
    width: calc(100% - 22px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Sn-btn-group{
    display: flex;
    justify-content: space-around;
}

.Sn-insert-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #83a80ba3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Sn-cancel-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #8a600cbe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Sn-insert-btn:hover {
    background-color: #6b8a0c;
}
.Sn-cancel-btn:hover {
    background-color: #8a600c;
}
