@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}

/* 제목 정렬 */
.h_boardTitle h1,
.h_boardTitle > p{
  text-align: center;
  align-items: center;
}
.donateGoodFormBorder{
    border: 4px solid #ABE138;
    width: 200px;
    margin-left: 650px;
    margin-bottom: 100px;
}
/* 제목 글씨크기 */
.h_boardTitle h1{
  font-size: 35px;
  color: white;
}
.h_boardTitle > p{
  font-size : 17px;
  color: white;
}


/* 전체 가로 크기 및 가운데 정렬 */
.Sn-wrapper1 {
    width: 1000px;
    margin: 0 auto;
}

/* 이야기 제목 가운데 정렬 및 굵게 표시 */
.Sn-TextLabel {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
}

/* 나눔후기과 글쓰기 버튼 가로로 정렬 */
.Sn-selection {
    margin-top: 30px;
    text-align: center;
    border-bottom: 2px solid #83a80ba3; /* 회색 경계선 추가 */
    padding-bottom: 30px; /* 아래쪽 간격 추가 */
}
.Sn-component-1 {
    display: flex;
    justify-content: center; /* 변경: 버튼을 가운데로 정렬 */
    justify-content: flex-end;
}

/* 나눔후기과 글쓰기 버튼 */
.Sn-chip-1, .Sn-chip-2 {
    display: inline-block;
    margin: 0 10px; /* 각 버튼 사이의 간격 추가 */
}

.Sn-text-1, .Sn-text-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #83a80ba3;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.Sn-text-1:hover, .Sn-text-2:hover {
    background-color: #6b8a0c;
}
/*==================*/
.Ss-list{
    display: flex;
        margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.Ss-nonList{
	width:100%;
	text-align: center; /* 텍스트를 가운데 정렬 */
    margin-top: 20px; /* 필요한 경우 상단 여백 추가 */
}

.Ss-article {
    width: calc(28% );
    height: 350px;
    margin : 10px;
      
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;    
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: 1px solid #dddddd; /* 테두리 추가 */
}
.Ss-article:hover {
    transform: translateY(-3px); /* 약간 위로 이동하여 부드러운 드롭 효과 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 추가 */
}


.Ss-image-container {
    height: 400px; 
     background-color: #e5f3b789;
    width: 100%;
    overflow: hidden;
     border-radius: 15px; 
    display: flex;
    justify-content: center;
     
    align-items: center;
    /* padding: 10px 0; */
    

    
}

.Ss-image-container .Ss-image {
    width: 100%;
     height: 100%;
      
    
}

.Ss-image-container .Ss-image img {
  
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    display: block;
    margin:auto;
    object-fit: fill;
    
}

.Ss-frame {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.Ss-title,.Ss-subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding: 10px;
}

.Ss-storydate {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}






/* 페이지네이션 */
.pagination {
    border-top: 2px solid #83a80ba3;
    list-style: none;
    margin: 30px 0;
    text-align: center;
    padding-top: 20px; /* 페이지네이션 위쪽 간격 추가 */
    cursor: pointer;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination li a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #83a80ba3;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

/* 페이지네이션 링크에 호버 효과 추가 */
.pagination li a:hover {
    background-color: #6a8a0cd3; /* 호버 상태에서 배경색 변경 */
    transition: background-color 0.3s ease; /* 배경색 변경에 애니메이션 효과 추가 */
}
.archive-search {
    margin-top: 30px; /* 위쪽 간격 설정 */
    margin-bottom: 20px; /* 아래쪽 간격 추가 */
    width: 100%; /* 너비 100%로 설정 */
    max-width: 700px; /* 최대 너비 설정 */
    margin-left: auto; /* 좌우 여백 자동 조절 */
    margin-right: auto; /* 좌우 여백 자동 조절 */
    text-align: center; /* 텍스트 가운데 정렬 */
}
.custom-select {
    display: inline-block;
    width: auto;
    height:40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* 검색 폼에 경계선 추가 */
.archive-search-text {
    width: 500px;
    padding: 10px; /* 텍스트 입력 필드의 패딩 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
    border: 1px solid #83a80ba3; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
    transition: border-color 0.3s ease; /* 경계선 색상 변경에 애니메이션 효과 추가 */
}


.archive-search-text:focus {
    border-color: #6b8a0c; /* 포커스 상태에서 경계선 색상 변경 */
    outline: none; /* 포커스 상태에서 외곽선 제거 */
}
.Sn-btn input[type="submit"] {
    padding: 10px 20px; /* 버튼의 패딩 설정 */
    background-color: #83a80ba3; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    border: none; /* 테두리 없애기 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
    cursor: pointer; /* 커서 모양을 포인터로 설정하여 클릭 가능한 상태로 변경 */
    
}

/* 버튼에 호버 효과 추가 */
.Sn-btn input[type="submit"]:hover {
    background-color: #6b8a0c; /* 호버 상태에서 배경색 변경 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 호버 상태에서 그림자 효과 추가 */
}