@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

*{
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';  
}

body{
    margin: 0 auto;  /* 가운데 정렬 */
    max-width: 1500px; 
    min-width: 1500px;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: black;
}

a{
    cursor: pointer;
}


header{
    line-height: 1.6em !important;
    word-break: keep-all;
    letter-spacing: -0.8px;
}

#header_new {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    transition: 0.5s;
}

#header_new .header__btm {
    height: 100px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
}

.h_logo_img{
    width: 200px;
    padding: 10px;
/*     margin: 0px 100px 0px 10px; */
}

#header_new .header__btm nav > ul.gnb__depth1 > li {
    position: relative;
    margin-right: 69px;
    height: 100px;
    padding: 20px;
    padding-top: 35px;
    text-align: center;
}

#header_new .header__btm nav > ul.gnb__depth1 > li > a {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    transition: 0.3s;
}

#header_new .header__btm nav > ul.gnb__depth1 > li:hover > a {
    color: #abc128;
    font-weight: bold;
}



#header_new .header__btm nav > ul.gnb__depth1 > li {
    position: relative;
}

#header_new .header__btm nav > ul.gnb__depth1 > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; /* 시작점을 왼쪽으로 설정 */
    width: 0%;
    height: 3px;
    background-color: #abe128;
    transition: width 0.3s ease; /* 변경 사항에 대한 transition 속성 적용 */
}

#header_new .header__btm nav > ul.gnb__depth1 > li:hover::after {
    width: 100%; /* hover 상태일 때 선의 너비를 100%로 변경하여 오른쪽으로 선이 나타나도록 함 */
}

#header_new .header__btm nav .gnb__area .inner {
    position: relative;
    width: 100%;
    height: 100%;
    height: 240px;
    padding: 40px 0 45px;
    box-sizing: border-box;
    background-color: #fff;
    z-index:98;
    
}

.w1200 {
    width: 1500px;
    margin: 0 auto;
}

#header_new .header__btm nav .gnb__area .gnb__intro {
    float: left;
    width: 285px;
    margin-left: 200px;
}

#header_new .header__btm nav .gnb__area .gnb__menu {
    float: left;
    min-width: 400px;
    box-sizing: border-box;
}

#header_new .header__btm nav ul.gnb__depth1 > li .gnb__area .gnb__menu ul.gnb__depth2 > li a {
    margin-bottom: 21px;
}
#header_new .header__btm nav .gnb__area .gnb__menu ul.gnb__depth2 > li a {
    display: block;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    transition: 0.7s;
}



#header_new .header__btm nav .gnb__area .gnb__banner {
    float: right;
    min-width: 550px;
    padding-left: 50px;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

#header_new .header__btm nav .gnb__area .gnb__banner img {
    max-width: 260px;
    border: 0 none;
    font-size: 0px;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease; 
}

#header_new .header__btm nav .gnb__area .gnb__banner img:hover{
    opacity: 0.9; /* 투명도 조정 */
}

#header_new .header__btm nav .gnb__area {
    display: none;
    position: fixed;
    top: 100.5px;
    left: 0;
    right: 0;
    z-index: 99;
    height: 390px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 로그인 */
.h_login, .h_logout{
    display: flex;
    width: 100px;
    margin-left: 50px;
}
.h_login a, .h_logout a{
    font-size: 14px;
}

.h_login a{
    transition: color 0.3s ease; 
}

/* 로그인 전 */
.nexon_login{
    margin-left: 20px;
    border: 1px solid rgb(174, 174, 174);
    padding:5px 30px;
    border-radius: 20px;
    transition: background-color 0.3s ease; 
}

.nexon_login:hover{
    background-color: #abe128;
    border: 1px solid #abe128;
}

/* 로그인 후 */
.nexon_logout{
    margin-left: 20px;
    transition: color 0.3s ease; 
    font-size: 13px;
    cursor: pointer;
}


.logoutImg{
    width: 13px;
    margin-left: 10px;
    transition: margin-top 0.3s ease; 
}

.nexon_logout:hover + .logoutImg{
    margin-top: 3px;
}

.nexon_logout{
	font-size:14px;
}

.h_logout a{
    transition: color 0.3s ease; 
}

.nexon_logout:hover, .h_logout a:nth-of-type(1):hover, .h_login a:hover{
    color:#abc128;
}

#header_new .header__btm nav .gnb__area .gnb__menu ul.gnb__depth2 > li a:hover{
    color:#abc128;
}


.logoutSub {
    position: relative;
    cursor: pointer;
}

.logoutImg {
    vertical-align: middle;
}
.sub_menu {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #abc128;
    border: 1px solid #c8f0d7;
    z-index: 99;
    transition: all 0.3s ease; /* 슬라이드 애니메이션을 위해 추가 */
}
.sub_menu.active {
    display: block;
}
.sub_menu li{
    padding: 10px;
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.sub_menu a li{
    color:white;
    transition: all 0.3s ease; /* 슬라이드 애니메이션을 위해 추가 */
}

.sub_menu a li:hover{
	color:black;
}


#activity{
    position: absolute;
    top: 90px;
    left: -15px;
    display: none;
    padding: 10px;
    background-color: #abc128;
    border: 1px solid #c8f0d7;
    z-index: 99;
}

#activity a li{
	color: white;
	margin : 10px;
	transition: all 0.3s ease; /* 슬라이드 애니메이션을 위해 추가 */
}

#activity a li:hover{
    color:black;
}

#h_new{
    position: absolute;
    top: 90px;
    left: -15px;
    display: none;
    padding: 10px;
    background-color: #abc128;
    border: 1px solid #c8f0d7;
    z-index: 99;
}

#h_new a li{
	color: white;
	margin : 10px;
	transition: all 0.3s ease; /* 슬라이드 애니메이션을 위해 추가 */
}

#h_new a li:hover{
	color:black;
}

/* ------------- footer ----------------- */
/* footer CSS */

.footer {
	position: absolute;  
  
    width: 1500px; /* 화면 전체 너비만큼 설정 */
    padding: 20px; /* 적절한 여백 설정 */
    box-sizing: border-box; /* padding 값 포함하여 너비 계산 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin: 0px;
    padding: 0px;
    z-index:10;
    clear: both; /* float된 요소들을 모두 clear하여 아래로 내려가게 함 */
}

.h_footers {
  font-family: 'NanumSquareNeo-Variable';
  margin-top: 10%;
  display: flex;
  background-color: rgb(214, 214, 214);
  text-align: left;
  padding: 30px;
  width: 100%;
}

.h_footer{
  font-size:13px;
  padding-left: 180px;
}

.h_footer_img{
  display: flex;
  align-items: flex-end;
  text-align: right;
  width: 370px;
  justify-content: flex-end
}

.h_footer_img img{
  width: 35px;
  margin-left: 20px;
  cursor:pointer;
}

.h_footer div{
  margin-bottom: 10px;
}

.h_footer_end span,
.h_footer_frist2 span,
.h_footer_middle span{
  margin-right: 25px;
}

.h_footer_frist1 span{
  margin-right: 10px;
  color: #575656;
}

.h_footer_frist2 span,
.h_footer_middle span{
  color: #575656;
}

.h_footer_end span{
  color:rgb(5, 11, 39);
}
