<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<resultMap type="attachment" id="attachmentResultMap">
		<id column="FILE_NO" property="fileNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="REF_FNO" property="refFno"/>
		<result column="IMG_LEVEL" property="imgLevel"/>
	</resultMap>
	<resultMap type="boardExt" id="boardExtResultMap">
		<id column = "BOARD_NO" property="boardNo"/>
		<result column = "BOARD_Title" property="boardTitle"/>
		<result column = "BOARD_CONTENT" property="boardContent"/>
		<result column = "CREATE_DATE" property="createDate"/>
		<result column = "USER_NO" property="userNo"/>
		<result column = "USER_Name" property="userName"/>
		<result column = "COUNT" property="count"/>
		<result column = "MODIFY_DATE" property="modifyDate"/>
		<result column = "FAQ_TYPE" property="faqType"/>
		<result column = "BOARD_TYPE_NO" property="boardTypeNo"/>
		<result column = "ORIGIN_NAME" property="originName"/>
		
		<collection property="imgList" resultMap="attachmentResultMap">
		</collection>
		
	</resultMap>

<!--공지사항리스트 -->
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		LEFT JOIN USERS USING (USER_NO)
		WHERE B.STATUS='Y'
		AND BOARD_TYPE_NO ='N'
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
	</select>
	<select id="noticeList" parameterType="hashMap" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, COUNT, USER_NAME, CREATE_DATE, BOARD_TYPE_NO
		FROM BOARD B
		LEFT JOIN USERS USING (USER_NO)
		WHERE BOARD_TYPE_NO = 'N'
		AND B.STATUS='Y'
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	<!-- 공지사항등록 -->
	<insert id="insertNotice" parameterType="board" useGeneratedKeys="true">
		<selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
			SELECT SEQ_BOARDNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD
		(BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_TYPE_NO,USER_NO)
		VALUES
		(#{boardNo},#{boardTitle},#{boardContent},#{boardTypeNo},#{userNo})
	</insert>
	<insert id="insertNoticeImgList" parameterType="list">
		INSERT INTO ATTACHMENT
		(FILE_NO,ORIGIN_NAME,CHANGE_NAME,REF_FNO,FILE_TYPE,IMG_LEVEL)
		SELECT SEQ_ATTNO.NEXTVAL,C.*
		FROM(
			<foreach collection="list" item="attachment" separator="UNION ALL">
				SELECT 
				#{attachment.originName},
				#{attachment.changeName},
				#{attachment.refFno},
				'B',
				#{attachment.imgLevel}
				FROM DUAL				
			</foreach>
		) C	
	</insert>
	<!-- 공지사항상세 -->
	<select id="selectBoard" parameterType="int" resultType="board">
		SELECT BOARD_NO,B.USER_NO,USER_NAME,BOARD_TITLE,BOARD_CONTENT,COUNT,CREATE_DATE,BOARD_TYPE_NO
		FROM BOARD B
		LEFT JOIN USERS U ON (B.USER_NO=U.USER_NO)
		WHERE BOARD_NO =#{boardNo}
		AND B.STATUS='Y'
	</select>	
	<update id="increaseCount" >
		UPDATE BOARD
		SET COUNT = COUNT+1
		WHERE BOARD_NO =#{boardNo}
	</update>
	<select id="selectImgList" parameterType="int" resultType="attachment">
		SELECT ORIGIN_NAME , FILE_NO, REF_FNO
		FROM ATTACHMENT
		WHERE REF_FNO=#{boardNo} AND FILE_TYPE='B'
		ORDER BY IMG_LEVEL
	</select>
	
	<select id="selectImg" parameterType="int" resultType="attachment">
		SELECT ORIGIN_NAME , FILE_NO , CHANGE_NAME
		FROM ATTACHMENT
		WHERE FILE_NO=#{fileNo} 
		ORDER BY IMG_LEVEL
	</select>
	<!-- 공지사항 수정 -->
	<select id="selectUpdateBoard" parameterType="int" resultMap="boardExtResultMap">
		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT,COUNT,USER_NAME,B.CREATE_DATE,A.ORIGIN_NAME,A.CHANGE_NAME,FILE_NO,BOARD_TYPE_NO,IMG_LEVEL
		FROM USERS
		LEFT JOIN BOARD B USING (USER_NO)
		LEFT JOIN ATTACHMENT A ON (BOARD_NO = REF_FNO)
		WHERE BOARD_NO = #{boardNo} 
		AND B. STATUS = 'Y'
	</select>
	<update id="updateBoardInsert" parameterType="board">
		UPDATE BOARD
		SET BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>
	<update id="updateNoticeImg" parameterType="attachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME=#{originName},
		CHANGE_NAME=#{changeName}
		WHERE REF_FNO = #{refFno} AND IMG_LEVEL=#{imgLevel} AND FILE_TYPE='B'
	</update>
	<insert id="insertNoticeImg" >
		INSERT INTO ATTACHMENT
		(FILE_NO,ORIGIN_NAME,CHANGE_NAME,REF_FNO,FILE_TYPE,IMG_LEVEL)
		VALUES
		(SEQ_ATTNO.NEXTVAL,#{originName},#{changeName},#{refFno},'B',#{imgLevel})
	</insert>
	<delete id="deleteNoticeImg" parameterType="string">
		DELETE FROM ATTACHMENT
		WHERE FILE_NO IN(${deleteList})AND FILE_TYPE='B'
	</delete>
	
	<select id="selectFileList" resultType="string">
		SELECT
		'/resources/images/board/'||BOARD_TYPE_NO||'/'||A.CHANGE_NAME
		FROM BOARD
		LEFT JOIN ATTACHMENT A ON (BOARD_NO = REF_FNO)
		WHERE A.CHANGE_NAME IS NOT NULL
	</select>
	<select id="selectBoardTypeList" resultType="boardType">
		SELECT *
		FROM BOARD_TYPE
		ORDER BY BOARD_TYPE_NO
	</select>
	<!-- 자주묻는질문 -->
	<select id="faqList" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE,
		CASE 
	        WHEN FAQ_TYPE = 1 THEN '물품기부' 
	        WHEN FAQ_TYPE = 2 THEN '후원하기' 
	        WHEN FAQ_TYPE = 3 THEN '봉사활동' 	    
   		END AS FAQ_TYPE_NAME
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="faqList1" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE,
		CASE 
	        WHEN FAQ_TYPE = 1 THEN '물품기부' 
	        WHEN FAQ_TYPE = 2 THEN '후원하기' 
	        WHEN FAQ_TYPE = 3 THEN '봉사활동' 	    
   		END AS FAQ_TYPE_NAME
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =1
		AND STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	<select id="faqList2" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE,
		CASE 
	        WHEN FAQ_TYPE = 1 THEN '물품기부' 
	        WHEN FAQ_TYPE = 2 THEN '후원하기' 
	        WHEN FAQ_TYPE = 3 THEN '봉사활동' 	    
   		END AS FAQ_TYPE_NAME
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =2
		AND STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	<select id="faqList3" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE,
		CASE 
	        WHEN FAQ_TYPE = 1 THEN '물품기부' 
	        WHEN FAQ_TYPE = 2 THEN '후원하기' 
	        WHEN FAQ_TYPE = 3 THEN '봉사활동' 	    
   		END AS FAQ_TYPE_NAME
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =3
		AND STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	<!-- 자주묻는질문 등록 -->
	<insert id="insertFaq" parameterType="Board">
    INSERT INTO BOARD 
    (BOARD_NO, BOARD_TITLE, BOARD_CONTENT, FAQ_TYPE, USER_NO,BOARD_TYPE_NO)
    VALUES
    (SEQ_BOARDNO.NEXTVAL, #{boardTitle}, #{boardContent},#{condition},#{userNo},'Q')
	</insert>
	<!-- 공지삭제 -->
	<update id="deleteNotice" parameterType="int">
		UPDATE BOARD
		SET STATUS='N'
		WHERE BOARD_NO=#{boardNo}
	</update>
	<update id="deleteReply" parameterType="int">
		UPDATE REPLY
		SET STATUS='N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	<delete id="deleteAttachment" parameterType="int">
		DELETE FROM ATTACHMENT
		WHERE FILE_NO =#{fileNo} 
	</delete>
	<!-- 이야기리스트 -->
	<select id="selectStoryCount" resultType="int">
		SELECT COUNT(*)
		FROM USERS U
		LEFT JOIN BOARD B ON (U.USER_NO=B.USER_NO)
        LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_FNO)
		WHERE BOARD_TYPE_NO = 'C'
		AND B.STATUS='Y'
		AND (IMG_LEVEL=0 OR IMG_LEVEL IS NULL)
		
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
	</select>
	<!-- 자유게시판 리스트 -->
	<select id="storyList" parameterType="hashMap" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE,BOARD_CONTENT, COUNT,B.USER_NO, USER_NAME, B.CREATE_DATE,A.FILE_NO,IMG_LEVEL,A.CHANGE_NAME
		FROM USERS U
		LEFT JOIN BOARD B ON (U.USER_NO=B.USER_NO)
        LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_FNO)
		WHERE BOARD_TYPE_NO = 'C'
		AND B.STATUS='Y'
		AND (IMG_LEVEL=0 OR IMG_LEVEL IS NULL)
		
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 나눔후기리스트 -->
	<select id="selectReviewCount" resultType="int">
		SELECT COUNT(*)
		FROM USERS U
		LEFT JOIN BOARD B ON (U.USER_NO=B.USER_NO)
        LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_FNO)
		WHERE BOARD_TYPE_NO = 'R'
		AND B.STATUS='Y'
		AND (IMG_LEVEL=0 OR IMG_LEVEL IS NULL)
		
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
	</select>
	<select id="reviewList" parameterType="hashMap" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE,BOARD_CONTENT, COUNT, B.USER_NO,USER_NAME, B.CREATE_DATE,A.FILE_NO,IMG_LEVEL,A.CHANGE_NAME
		FROM USERS U
		LEFT JOIN BOARD B ON (U.USER_NO=B.USER_NO)
        LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_FNO)
		WHERE BOARD_TYPE_NO = 'R'
		AND B.STATUS='Y'
		AND (IMG_LEVEL=0 OR IMG_LEVEL IS NULL)
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 댓글등록 -->
	<insert id="insertReply" parameterType="reply">
		INSERT INTO REPLY 
		(REPLY_NO,REPLY_CONTENT,USER_NO,BOARD_NO)
		VALUES (SEQ_REPLYNO.NEXTVAL,#{replyContent},#{userNo},#{boardNo})
	</insert>
	<select id="replyList" resultType="reply">
		SELECT REPLY_NO,USER_NAME,REPLY_CONTENT,R.CREATE_DATE,R.USER_NO
		FROM REPLY R
		LEFT JOIN USERS U ON (R.USER_NO=U.USER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND R.STATUS='Y'
		ORDER BY REPLY_NO DESC
	</select>
	<update id="updateReply" parameterType="hashMap" >
		UPDATE REPLY
		SET REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NO = #{replyNo}
	</update>
	<update id="deleteReplyOnly" parameterType="int">
		UPDATE REPLY
		SET STATUS ='N'
		WHERE REPLY_NO=#{replyNo}
	</update>
	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT
		(REPORT_NO,REPORT_CONTENT,USER_NO,BOARD_NO,REPLY_NO)
		VALUES
		(SEQ_REPORTNO.NEXTVAL,#{reportContent},#{userNo},#{boardNo},#{replyNo})
		
	</insert>
	
</mapper>