<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
<!--공지사항리스트 -->
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		LEFT JOIN USERS USING (USER_NO)
		WHERE B.STATUS='Y'
		AND BOARD_TYPE_NO ='N'
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
	</select>
	<select id="noticeList" parameterType="hashMap" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, COUNT, USER_NAME, CREATE_DATE
		FROM BOARD B
		LEFT JOIN USERS USING (USER_NO)
		WHERE BOARD_TYPE_NO = 'N'
		AND B.STATUS='Y'
		<if test="keyword!=null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition.equals('writer')">
					USER_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
				</when>				
			</choose>
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 자주묻는질문 -->
	<select id="faqList" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="faqList1" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =1
		ORDER BY BOARD_NO DESC
	</select>
	<select id="faqList2" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =2
		ORDER BY BOARD_NO DESC
	</select>
	<select id="faqList3" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'Q'
		AND FAQ_TYPE =3
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="storyList" resultType="board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, COUNT, USER_NO,CREATE_DATE
		FROM BOARD
		WHERE BOARD_TYPE_NO = 'C'
		ORDER BY BOARD_NO DESC
	</select>
	
</mapper>